<head>
  <meta charset="utf-8" />
  <title>Cloud CRM | <%=title %></title>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto"
    rel="stylesheet"
    type="text/css"
  />

  <meta name="description" content="Final Project Cloud CRM for CS493." />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
  />
  <link rel="stylesheet" href="/styles.css" />
</head>
