<!DOCTYPE html>
<html lang="en">
  <!--Import head-->
  <%- include('./partials/head.ejs') %>
  <body>
    <!--Import the nav bar-->
    <%- include('./partials/nav.ejs') %>

    <!--Content-->
    <div>
      <h1>400</h1>
      <h2>Bad Request</h2>
      <p>Client came from an unauthorized route.</p>
    </div>
  </body>
</html>
