<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div>
      <h1>400</h1>
      <h2>Bad Request</h2>
      <p>Unauthorized route.</p>
    </div>
  </body>
</html>
