<!DOCTYPE html>
<html lang="en">
  <!--Import head-->
  <%- include('./partials/head.ejs') %>
  <body>
    <!--Import the nav bar-->
    <%- include('./partials/nav.ejs') %>

    <!--Content-->
    <div>
      <h1>401</h1>
      <h2>Unauthorized</h2>
      <p>An authorized access was detected.</p>
    </div>
  </body>
</html>
